<div class="row">
    <div class="card bg-info my-2" style="width: 15rem;">
        <div class="card-body">
            <h5 class="card-title text-uppercase text-black">Total Customers</h5>
            <h5 class="card-subtitle mb-auto text-muted">{{ total_customer }}</h5>
        </div>
    </div>

    <div class="card bg-info my-2 mx-2" style="width: 15rem;">
        <div class="card-body">
            <h5 class="card-title text-uppercase text-black">Total Salesmen</h5>
            <h5 class="card-subtitle mb-auto text-muted">{{ total_salesmen }}</h5>
        </div>
    </div>
    <div class="card bg-info my-2" style="width: 15rem;">
        <div class="card-body">
            <h5 class="card-title text-uppercase text-black">Total Orders</h5>
            <h5 class="card-subtitle mb-auto text-muted">{{ total_order }}</h5>
        </div>
    </div>
    <div class="card bg-info my-2 mx-2" style="width: 15rem;">
        <div class="card-body">
            <h5 class="card-title text-uppercase text-black">Total Products</h5>
            <h5 class="card-subtitle mb-auto text-muted">{{ total_product }}</h5>
        </div>
    </div>
</div>